*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: beige;
}
.choseContainer{
    position: relative;
    padding-top: 15px;
    margin-top: 30px;

    width: 500px;
    height: 120px;
    border: 1px solid gray;

    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.choseContainer button{
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}
.choseContainer p{
    margin: 10px;
}

.gameContainer{
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid gray;
    margin: 0px;
    margin-top: 5rem;

    gap: 0;

    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    background-color: #39805A;
    
    display: flex;
    flex-wrap: wrap; 
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gameContainer div{
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.disabledGame {
  opacity: 0.4;
  pointer-events: none;
}

.item{
    opacity: 1;
}


.beforeMole{
    background-image: url(./img/before.png)!important;
}
.mole{
    background-image: url(./img/mole.png)!important;
}
.afterMole{
    background-image: url(./img/after.png)!important;
}

