*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: beige;
}
.choseContainer{
    position: relative;
    padding-top: 15px;
    margin-top: 30px;

    width: 500px;
    height: 80px;
    border: 1px solid gray;

    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.choseContainer button{
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.gameContainer{
    position: relative;
    width: 650px;
    height: 720px;
    border: 1px solid gray;
    margin-top: 10rem;

    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gameContainer div{
    flex-basis: 90px;
    height: 120px;
    margin: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.backSide{
    background-image: url(./img/blank.png)!important;
}
.trying{

}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
